# **Consultas de SQLITE en Python**: Funciones Definidas por el Usuario


### Paso Por Paso

In [8]:
import sqlite3
import pandas as pd

square = lambda n:n*n

conn = sqlite3.connect("Northwind.db")
# Nombre de la funcion a crear, numero de atributos, funcion
conn.create_function("square", 1, square)

cursor = conn.cursor()
# execute va a ejecutar la consulta y almacenarla en "cursor"
cursor.execute('''
    SELECT * FROM Products           
    ''')

# fetchall muestra la informaicon almacenada en "cursor"
results = cursor.fetchall()
results_df = pd.DataFrame(results)

# Guarda los cambios
conn.commit()

# Libera el recurso y conexion
cursor.close()
conn.close()

results_df

     0                                1   2  3                    4      5
0    1                            Chais   1  1   10 boxes x 20 bags  18.00
1    2                            Chang   1  1   24 - 12 oz bottles  19.00
2    3                    Aniseed Syrup   1  2  12 - 550 ml bottles  10.00
3    4     Chef Anton's Cajun Seasoning   2  2       48 - 6 oz jars  22.00
4    5           Chef Anton's Gumbo Mix   2  2             36 boxes  21.35
..  ..                              ...  .. ..                  ...    ...
72  73                       Röd Kaviar  17  8      24 - 150 g jars  15.00
73  74                    Longlife Tofu   4  7            5 kg pkg.  10.00
74  75             Rhönbräu Klosterbier  12  1   24 - 0.5 l bottles   7.75
75  76                     Lakkalikööri  23  1               500 ml  18.00
76  77  Original Frankfurter grüne Soße  12  2             12 boxes  13.00

[77 rows x 6 columns]

### Forma Directa

In [9]:
import sqlite3
import pandas as pd

square = lambda n:n*n

with sqlite3.connect("Northwind.db") as conn:
    conn.create_function("square", 1, square)
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM Products')
    results = cursor.fetchall()
    results_df = pd.DataFrame(results)
    
results_df

     0                                1   2  3                    4      5
0    1                            Chais   1  1   10 boxes x 20 bags  18.00
1    2                            Chang   1  1   24 - 12 oz bottles  19.00
2    3                    Aniseed Syrup   1  2  12 - 550 ml bottles  10.00
3    4     Chef Anton's Cajun Seasoning   2  2       48 - 6 oz jars  22.00
4    5           Chef Anton's Gumbo Mix   2  2             36 boxes  21.35
..  ..                              ...  .. ..                  ...    ...
72  73                       Röd Kaviar  17  8      24 - 150 g jars  15.00
73  74                    Longlife Tofu   4  7            5 kg pkg.  10.00
74  75             Rhönbräu Klosterbier  12  1   24 - 0.5 l bottles   7.75
75  76                     Lakkalikööri  23  1               500 ml  18.00
76  77  Original Frankfurter grüne Soße  12  2             12 boxes  13.00

[77 rows x 6 columns]

### Incluir la funcion en la consulta

In [11]:
import sqlite3
import pandas as pd

square = lambda n:n*n

with sqlite3.connect("Northwind.db") as conn:
    conn.create_function("square", 1, square)
    cursor = conn.cursor()
    cursor.execute('SELECT *, square(Price) FROM Products WHERE Price >0')
    results = cursor.fetchall()
    results_df = pd.DataFrame(results)
    
results_df

,0,1,2,3,4,5,6
0,1,Chais,1,1,10 boxes x 20 bags,18.00,324.0000
1,2,Chang,1,1,24 - 12 oz bottles,19.00,361.0000
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,100.0000
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,484.0000
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,455.8225
...,...,...,...,...,...,...,...
72,73,Röd Kaviar,17,8,24 - 150 g jars,15.00,225.0000
73,74,Longlife Tofu,4,7,5 kg pkg.,10.00,100.0000
74,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75,60.0625
75,76,Lakkalikööri,23,1,500 ml,18.00,324.0000
76,77,Original Frankfurter grüne Soße,12,2,12 boxes,13.00,169.0000